
html, body {
	font-family: Arial, sans-serif;
	font-size: 15px;
	line-height: 1.8;
}

body{
	padding-left:12px;
	padding-right: 12px;
	background-color: #a4c4f4;
	line-height: 1.6em;
	margin: 0;
}

h1{
	
	color:green;
}

.content{
	display: flex;
	justify-content: center;
}
.contato{
	width: 100%; 
	max-width: 500px;
}
.form{
	display: flex;
	flex-direction: column;
	border: 1px #DDD;
	border-radius: 5px;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 16px;
	width: 500px;

}

.field{

	padding: 10px;
	margin-bottom: 15px;
	background: no-repeat 0px ;
	background-color: #fff;
}


a{
	text-decoration: none;
	color: #000;

}
a:hover{
	color: red;
}
a:active{
	color: #00ff00;

}
a:visited{
	color: blue;

}
.container{
	width: 80%;
	margin: auto;
	margin: auto;
	overflow: hidden;

}
#navbar{
	background-color: #333;
	color: #fff;

}
#navbar ul{
	padding: 0;
	list-style: none;
}

#navbar li{
	display: inline;
}

#navbar a{
	color: #fff;
	text-decoration: 18px;
	font-size: 18px;
	padding-right: 15px;

}

.button{
	background-color: #333;
	color:#fff;
	padding: 10px 15px;
	border: none;
}
.button:houver{
	background: red;
	color: #fff;
}
.box-1{
	background-color: ##f1f1f1;
	color: #455;

	border: 5px solid;
	border-width: 10px;

	border-top-style: dashed lightgray;
	padding-top:20px;

	margin:20px 0;
}


.box-1 h1{
	font-family: Tahoma;
	font-weight: 800;
	font-style: italic;
	text-decoration: underline;
	text-transform: uppercase;
	letter-spacing: 0.2em;
}
.box-2{
	border: 13px groove #555;
	padding: 20px;
	margin: 20px 0;
}

.categories {
	border: 18px #ccc solid;
	padding: 10px;
	border-radius: 15px;
}
.categories h2{
	text-align: center;
}
.categories ul{
	padding: 0;
	padding-left: 20px;
	list-style: square;
	list-style: none;
}

.categories li{
	padding-bottom: 6px;
	border-bottom: dotted 1px #333;
	list-style-image: url('..img/box.png')
}
.my-form{
	padding: 20px;
}
.my-form .form-group{
	padding-bottom: 15px;
}
.my-form label{
	display: block;
}

.my-form input[type="text"], .my-form textarea{
	padding: 8px;
	width: 100%;
}
.my-form input[type="submit"]{
	background-color: #333;
	color: #fff;
	padding: 10px 15px;
	border: none;
}

.block{
	float: left;
	width: 22%;
	border: 2px solid #000;
	padding: 10px;
	box-sizing: border-box;
	position: static;

}

#main-block{
	float: left;
	width: 70%;
}
#sidebar{
	color: white;
	float: right;
	width: 70%;
	background-color: #333;
	padding: 15px;
	box-sizing: border-box;
}
.p-box{
	width: 800px;
	height: 500px;
	border: 1px solid #000;
	margin-top: 30px;
	position: relative;
	background-image: url('..img/Grécia/flag_grecia.png');
	background-position: 100px 200px;
	background-repeat: no-repeat;
	background-position: center top;
}
.p-box h1{
	position: absolute;
	top: 100px;
	left: 200px;
}
p.box h2{
	position: absolute;
	bottom:40px;
	right: 100px;
}

.fix-me{
	position: fixed;
	top:400px;
}


.my-list li:first-child{
	background: darkblue;
}


.my-list li:last-child{
	background: blue;
}


.my-list li:nth-child(5){
	background: yellow;
}


.my-list li:nth-child(even){
	background: grey;
}

#main-header{
	text-align: center;
	background-color: black;
	color: white;
	padding:10px;
}
#main-footer{
	text-align: center;
	font-size: 18px;

}

