.dropbtn {
    background-color: #3a3;
    color: white;
    padding: 4px;
    font-size: 20px;
    border: 4px solid #3A2;
    width: 100px;
    height: 90;
    
}
.dropdown {
    position: relative;
    display: inline-block;
    padding: 10px;
    font-size: 17px;
    text-shadow: 25px 8px 16px 1px rgba(0, 60, 100, 1);
    box-shadow: 25px 8px 16px 0px rgba(0, 100, 100, 1);

}
.dropdown-content {
    display: none;
    position: absolute;
    text-shadow: 10px;
    background-color: lightgreen;

    min-width: 190px;
    z-index: 1;

    
}
.dropdown-content a {

    padding: #px #px;
    text-decoration: none;
    display: block;
    box-shadow: 25px 8px 16px 0px rgba(0,0,0,0.2);
    border: 0.5px solid darkgray;
}
.dropdown-content a:hover {background-color: white;}
.dropdown:hover .dropdown-content {display: block;}
.dropdown:hover .dropdown-content a {display: block;}
.dropdown:hover .dropbtn {background-color: gray;}



